{% extends 'base.html' %}
{% load static %}
{% block title  %}
M.G.M.I
{% endblock title  %}
{% block body %}
<!-- slider -->
			<div id="slider" class="slider2">
				<div class="tp-banner-container">
					<div class="tp-banner" >
						<ul>
							<!-- SLIDE 1  -->
							<li data-transition="curtain-1" data-slotamount="7" data-masterspeed="600" >
								<!-- MAIN IMAGE -->
								<img src="{% static 'banners/back.png' %}" style='background-color:#b2c4cc' alt=""  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption large_bold_white skewfromrightshort customout"
								    data-x="250"
									data-y="274"
									data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
									data-speed="500"
									data-start="1200"
									data-easing="Back.easeOut"
									data-endspeed="500"
									data-endeasing="Power4.easeIn"
									data-captionhidden="on"
									style="z-index: 4">
									Nous ne sommes pas les seuls <br> cependant Nous sommes <br> toujours les meilleurs
								</div>
								
								<!-- LAYER NR. 2 -->
								<div class="tp-caption medium_thin_white customin ltl"
									data-x="15"
									data-y="350"
									data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="1000"
									data-start="1500"
									data-easing="Back.easeInOut"
									data-endspeed="400"
									data-endeasing="Back.easeIn"
									style="z-index: 14">
	
								<!-- LAYER NR. 4 -->
								<div class="tp-caption skewfromrightshort customout"
									data-x="750"
									data-y="120"
									data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
									data-speed="500"
									data-start="2500"
									data-easing="Back.easeOut"
									data-endspeed="500"
									data-endeasing="Power4.easeIn"
									data-captionhidden="on"
									style="z-index: 9">							
							</div>
							</li>
							<!-- SLIDE 2  -->
							<li data-transition="flyin" data-slotamount="7" data-masterspeed="800" >
								<!-- MAIN IMAGE -->
								<img src="{% static 'banners/back1.png' %}" style='background-color:#b2c4cc' alt=""  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYER NR. 2 -->
								<div class="tp-caption large_bold_white skewfromrightshort customout"
								data-x="250"
								data-y="274"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1200"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">
									Bienvenue à M.G.M.I <br>
									M.G.M.I Marbre a été fondée <br>
									En 1983 à Marrakech
									
									         
								</div>
								
								<!-- LAYER NR. 4 -->
								<div class="tp-caption medium_thin_white customin ltl"
									data-x="490"
									data-y="450"
									data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="1000"
									data-start="2500"
									data-easing="Back.easeInOut"
									data-endspeed="400"
									data-endeasing="Back.easeIn"
									style="z-index: 14">
								</div>
							</li>
							<!-- SLIDE 3 -->
							<li data-transition="3dcurtain-horizontal" data-slotamount="7" data-masterspeed="500" >
								<!-- MAIN IMAGE -->
								<img src="{% static 'upload/banners/slide1.png' %}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption large_bold_white skewfromrightshort customout"
									data-x="250"
									data-y="274"
									data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
									data-speed="500"
									data-start="1200"
									data-easing="Back.easeOut"
									data-endspeed="500"
									data-endeasing="Power4.easeIn"
									data-captionhidden="on"
									style="z-index: 4">
									Nous offrons une assistance 
									<br>24h/24 et 7j/7 

								
								<!-- LAYER NR. 2 -->
								<div class="tp-caption medium_thin_white customin ltl"
									data-x="170"
									data-y="340"
									data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
									data-speed="1000"
									data-start="1500"
									data-easing="Back.easeInOut"
									data-endspeed="400"
									data-endeasing="Back.easeIn"
									style="z-index: 14">
								</div>
							</li>
							<!-- SLIDE 4 -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
								<!-- MAIN IMAGE -->
								<img src="{% static 'upload/banners/back3.png' %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption large_bold_white skewfromrightshort customout"
								data-x="250"
								data-y="274"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1200"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">
								Marbre &amp; Moderne
								</div>
							</li>
						</ul>
						<div class="tp-bannertimer"></div>
					</div>
				</div>
			</div>
<!-- End slider -->

<!-- content 
				================================================== -->
			<div id="content">
				<!-- start banner-section 
					================================================== -->
				<div class="section-content banner-section">
					<div class="container triggerAnimation animated" data-animate="bounceIn">
						<h1>Nous sommes ravis de vous servir</h1>
						<p>Une carrière qui allie savoir-faire et expérience au service de clients exigeants</p>
						<a class="button-two" href="{% url 'about:about' %}"><span>Lire la suite</span><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<!-- end banner-section -->
					<!-- banner-section 1-->
					<div class="section-content banner-section">
						<div class="container triggerAnimation animated" data-animate="bounceIn">
							<h1>Nous sommes ravis de travailler</h1>
							<p>Nous sommes ravis de travailler.</p>
						</div>
					</div>
	
				<!-- statistic-section  -->
				<div class="section-content statistic-section parallax" data-stellar-background-ratio="0">
					<div class="container">
						<div class="statistic-box triggerAnimation animated" data-animate="tada">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<div class="statistic-post">
										<div class="statistic-counter">
											<i class="fa fa-heart-o"></i>
											<p><span class="timer" data-from="0" data-to="256"></span></p>
											<p>Projets</p>
											<p>50</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="statistic-post">
										<div class="statistic-counter">
											<i class="fa fa-star-o"></i>
											<p><span class="timer" data-from="0" data-to="256"></span></p>
											<p>Clients</p>
											<p>50</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="statistic-post">
										<div class="statistic-counter">
											<i class="fa fa-bell-o"></i>
											<p><span class="timer" data-from="0" data-to="256"></span></p>
											<p>Idées de conception</p>
											<p>50</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Reaison-section -->
					<div class="section-content features-section2">
						<div class="title-section">
							<div class="container triggerAnimation animated" data-animate="bounceIn">
								<h1>Principales raisons de travailler avec nous</h1>
								<p>Les raisons les plus importantes</p>
							</div>
						</div>
						<div class="features-box parallax" data-stellar-background-ratio="0">
							<div class="container">
								<div class="row">
									<div class="col-md-4">
										<ul class="feature-list2 triggerAnimation animated" data-animate="slideInLeft">
											<li>
												<span><i class="fa fa-leaf"></i></span>
												<div class="list-cont">
													<h3>Qualité</h3>
													<p>La qualité est notre devise. </p>
												</div>
											</li>
											<li>
												<span><i class="fa fa-bar-chart-o"></i></span>
												<div class="list-cont">
													<h3>Confiance</h3>
													<p>La confiance est la base de toute entreprise prospère</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="feature-list2 triggerAnimation animated" data-animate="slideInDown">
											<li>
												<span><i class="fa fa-trophy"></i></span>
												<div class="list-cont">
													<h3>Accélérez le travail</h3>
													<p>Accélérez le travail et livrez-le à temps</p>
												</div>
											</li>
											<li>
												<span><i class="fa fa-heart"></i></span>
												<div class="list-cont">
													<h3>Fait avec amour</h3>
													<p>Fait avec amour </p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="feature-list2 triggerAnimation animated" data-animate="slideInRight">
											<li>
												<span><i class="fa fa-cog"></i></span>
												<div class="list-cont">
													<h3>Nous sommes mieux</h3>
													<p>Nous sommes mieux </p>
												</div>
											</li>
										
										</ul>
									</div>
								</div>						
							</div>
						</div>
							<!-- Start Categories-section  -->
			<div class="section-content portfolio-section">
				<div class="title-section white">
					<div class="container">
						<h1>Categories </h1>
						<p>Touts les Categories et Produits</p>
					</div>
				</div>
				<div class="portfolio-box">
					<ul class="filter">
						<li><a href="#" class="active" data-filter="*">All</a></li>
						<li><a href="#" data-filter=".ardoise">Ardoise</a></li>
						<li><a href="#" data-filter=".marbrelocal">Marbre Local</a></li>
						<li><a href="#" data-filter=".illustration">Granite</a></li>
						<li><a href="#" data-filter=".branding">Marbre D'Importation</a></li>
					</ul>
					<div class="masonry three-col">
						<div class="project-post web-design branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/ardoise.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/ardoise.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Ardoise</h2>
								<p>Vestibulum auctor dapibus neque.</p>
							</div>
						</div>
                         <!-- 1-->
						<div class="project-post web-design">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrelocal.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrelocal.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Local</h2>
								<p>Marbre Local</p>
							</div>
						</div>
          
						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>
          
						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
          
						<div class="project-post illustration branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbredimportation.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbredimportation.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre D'Importation</h2>
								<p>Marbre D'Importation</p>
							</div>
						</div>
          
						<div class="project-post photography illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrenatural.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrenatural.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Natural</h2>
								<p>Marbre Natural</p>
							</div>
						</div>

						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>

						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>

						<!-- 2-->
						<div class="project-post web-design branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/ardoise.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/ardoise.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Ardoise</h2>
								<p>Vestibulum auctor dapibus neque.</p>
							</div>
						</div>
          
						<div class="project-post web-design">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrelocal.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrelocal.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Local</h2>
								<p>Marbre Local</p>
							</div>
						</div>
          
						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>
          
						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
          
						<div class="project-post illustration branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbredimportation.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbredimportation.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre D'Importation</h2>
								<p>Marbre D'Importation</p>
							</div>
						</div>
          
						<div class="project-post photography illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrenatural.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrenatural.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Natural</h2>
								<p>Marbre Natural</p>
							</div>
						</div>

						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>

						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
 <!-- 1-->
						<div class="project-post web-design">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrelocal.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrelocal.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Local</h2>
								<p>Marbre Local</p>
							</div>
						</div>
          
						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>
          
						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
          
						<div class="project-post illustration branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbredimportation.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbredimportation.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre D'Importation</h2>
								<p>Marbre D'Importation</p>
							</div>
						</div>
          
						<div class="project-post photography illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrenatural.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrenatural.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Natural</h2>
								<p>Marbre Natural</p>
							</div>
						</div>

						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>

						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
						 <!-- 3-->
						 <div class="project-post web-design">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrelocal.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrelocal.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Local</h2>
								<p>Marbre Local</p>
							</div>
						</div>
          
						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>
          
						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
          
						<div class="project-post illustration branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbredimportation.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbredimportation.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre D'Importation</h2>
								<p>Marbre D'Importation</p>
							</div>
						</div>
          
						<div class="project-post photography illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbrenatural.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbrenatural.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Natural</h2>
								<p>Marbre Natural</p>
							</div>
						</div>

						<div class="project-post photography branding">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/granite.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/granite.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Granite</h2>
								<p>granite</p>
							</div>
						</div>
          
						<div class="project-post illustration">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/marbreartificiel.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/marbreartificiel.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Marbre Artificiel</h2>
								<p>Marbre Artificiel</p>
							</div>
						</div>

						<div class="project-post photography">
							<div class="project-gal">
								<img alt="" src="{% static 'categories/pierrenoble1.png' %}">
								<div class="hover-box">
									<a class="zoom" href="{% static 'categories/pierrenoble1.png' %}"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
							<div class="project-content">
								<h2>Pierre Noble</h2>
								<p>Pierre Noble</p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- End Categories-section  -->
+</div>
<!-- raison-section -->

				{% comment %} <!-- Start Clients Section  -->
				<div class="section-content testimonials-section parallax" data-stellar-background-ratio="0">
					<div class="title-section transparent-back">
						<div class="container triggerAnimation animated" data-animate="bounceIn">
							<h1>Ce que les autres disent de nous</h1>
							<p>Ce que les autres disent de nous</p>
						</div>
					</div>
					<div class="container">
						<ul class="bxslider">
							<li>
								<div class="row">
									<div class="col-sm-4">
										<div class="testimonial-post triggerAnimation animated" data-animate="flipInY">
											<img src="{% static 'clients/client1.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="testimonial-post triggerAnimation animated" data-animate="flipInY">
											<img src="{% static 'clients/client2.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="testimonial-post triggerAnimation animated" data-animate="flipInY">
											<img src="{% static 'clients/client3.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-sm-4">
										<div class="testimonial-post">
											<img src="{% static 'clients/client1.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="testimonial-post">
											<img src="{% static 'clients/client2.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="testimonial-post">
											<img src="{% static 'clients/client3.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-sm-4">
										<div class="testimonial-post">
											<img src="{% static 'clients/client1.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="testimonial-post">
											<img src="{% static 'clients/client2.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="testimonial-post">
											<img src="{% static 'clients/client3.jpg' %}" alt="">
											<h2> Jone Doe - Co-Founder </h2>
											<p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. ”</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Clients Section --> {% endcomment %}
	
</div>
			<!-- End content -->
{% endblock body %}